.product{
    border: 1px solid black;
    display: inline-block;
    width: 225px;
    height: 445px;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;
    margin-block: 10px;
    
}

.product img{
    width: 200px;
    height: 275px;
    padding: 10px;
}

